//-- colors:start --//
$color-black: #000;
$color-white: #fff;
$red-lighter: #871515;
$gris-claro: #eee;
$verde-claro: #49cb79;
//-- colors:end --//
//-- typo:start --//
$font-proxima: 'Neue Helvetica W01', helvetica, sans-serif; // 300, 700
$font-proxima-alternative: 'Neue Helvetica W01', helvetica, sans-serif; // 400, 400 italic
$font-newsgothic: 'Neue Helvetica W01', helvetica, sans-serif; // 700
//-- typo:end --//
